[Preferences]
Connection\PortRangeMin=6881
Downloads\SavePath=/downloads/completed/
Downloads\TempPath=/downloads/incomplete/
Downloads\TempPathEnabled=true
WebUI\Address=0.0.0.0
WebUI\Port=8080
WebUI\Username=admin
WebUI\Password_PBKDF2=sha256:100000$16d99b7e510337fff72673067f7fc22a$964d858702ec1c4495f7b47530ceed47546dbe38c70fc0a799b2036b1de3f50b
WebUI\CSRFProtection=false
WebUI\AlternativeUIEnabled=true
WebUI\AlternativeUIRoot=/vuetorrent
